.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Project exclude paths
/viewpager_indicator/build/
/viewpager_indicator/build/intermediates/javac/debug/classes/